<div class="row">   
    <div class="col-md-6">
        <nb-card *ngFor = "let animal of allAnimals">
            <nb-card-header>
                <h5>{{animal.name | titlecase}}</h5>
            </nb-card-header>
            <nb-card-body>
                <nb-list>
                    <nb-list-item *ngFor = "let breed of filterBreedsByAnimal(animal)">
                        {{breed.name | titlecase}}  
                        <button nbButton
                        (click)="delete(breed)">
                            <nb-icon icon="trash"></nb-icon>
                        </button>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h5>Add Breed</h5>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="addBreedForm" (ngSubmit)="add()"> 
                    <div>
                     <input nbInput type="text" placeholder="Breed Name" formControlName="name">
                    </div>
                    <nb-select  formControlName="animalName">
                        <nb-option *ngFor = "let item of allAnimals" [value]=item.name>
                            {{item.name}}
                        </nb-option>
                    </nb-select>
                    <div>
                        <input nbInput type="submit" value="Confirm" [disabled]="!addBreedForm.valid">
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div> 