<div class="row">
    <div  class="col-md-6">
        <nb-card>
            <nb-card-header>Login</nb-card-header>
            <nb-card-body>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <input nbInput type="email" placeholder="Email"
                        fullWidth
                        formControlName="email">
                </div>
                <div class="form-group">
                    <input nbInput type="password" 
                        placeholder="Password"
                        formControlName="password"
                        fullWidth>
                </div>
                <div class="form-group text-right">
                    <input nbButton type="submit" 
                        value="LOGIN"
                        [disabled]="loginForm.invalid">
                </div>
            </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div  class="col-md-6">
        <nb-card>
            <nb-card-header>Register</nb-card-header>
            <nb-card-body></nb-card-body>
        </nb-card>
    </div>
</div>
